@charset "utf-8";
/* CSS Document */
body,div,ul,li,a,h1,h2,h3,h4,dd,dt,dl,h5,h6,span,b,p,strong,form,input{ margin:0; padding:0;}
li{ list-style:none;}
a{ color:#3c3c3c; text-decoration:none;}
a:hover{ color:#ff4400;}
img{ border:0 none; vertical-align:top;}
body{ font-family:"微软雅黑"; font-size:16px; background:url(../images/bg.jpg); min-width: 990px;}
.clearfix{ *zoom:1;}
.clearfix:after{ content:"."; display:block; visibility:hidden; clear:both; height:0;}

.box{ width:890px; height:auto; margin:80px auto 0px;  padding-top:180px; padding-bottom:150px;}
#dingwei-jianli{ position:absolute; left:0; top:-170px; width:660px; height:170px; border-radius:35px 35px 35px 35px; background-color:#1f1a17; z-index:9; overflow:hidden;}
.dingwei-yuankong{ position:absolute; top:108px; left:33px; width:40px; height:40px; background:url(../images/kuang-bg.png) no-repeat top;}
.gerenjianli{ position:relative; float:left; width:660px; height:0px;}
.dingwei-jianli-zuo{ float:left; width:230px; height:130px; margin:38px 15px 0 40px;}
.dingwei-jianli-zuo-1{ float:left; width:230px; height:70px; line-height:70px; text-align:center; font-size:68px; font-weight:bold; color:#008382;}
.dingwei-jianli-zuo-2{ float:left;  width:230px; height:36px; line-height:36px; text-align:center; font-size:28px; font-weight:bold; color:#fff; margin-top:12px;}
.dingwei-jianli-you{ position:absolute; top:-15px; left:290px; width:270px; height:120px; line-height:120px; font-size:120px; color:#FFF; }

#dingwei-xinxi{ position:absolute; left:-35px; top:-170px; width:660px; height:170px; border-radius:35px 35px 35px 35px; background-color:#dededc; z-index:9;}
#dingwei-xinxi:hover .gerenxinxi-neirong{ height:auto;}
.dingwei-xinxi-touxiang{ float:right; width:245px; height:165px;}
.dingwei-xinxi-touxiang span{ float:left; height:65px; width:100%; line-height:65px; font-size:35px; text-align:center; font-weight:bold;}
.dingwei-xinxi-touxiang img{ float:left; }
.dingwei-xinxi-jieshao{ float:right; width:230; height:auto; margin: 50px 40px 0 0;}
.dingwei-xinxi-jieshao li{ width:290px; height:24px; text-align:right; font-size:18px;}
.gerenxinxi{ position:relative; width:590px; height:auto; margin:160px 0 0 257px; background:#CCC; padding-bottom:35px;}
.gerenxinxi-neirong{ margin-left:30px; width:100%; height:auto; overflow:hidden;}
.gerenxinxi-neirong li{ float:left; width:290px; height:40px; font-size:20px; text-align:left; line-height:60px;}

#dingwei-jiaoyu{ position:absolute; left:-35px; top:-170px; width:660px; height:170px; border-radius:35px 35px 35px 35px; background-color:#c4be66; z-index:9;}
.dingwei-jiaoyu-shang{ float:right; width:450px; height:80px; line-height:80px; font-size:35px; text-align:center; font-weight:bold;}
.dingwei-jiaoyu-zhong{ float:right; width:450px; height:18px; line-height:18px; text-align:center; }
.dingwei-jiaoyu-xia{ float:right; width:450px; height:18px; line-height:18px; text-align:center; }
.jiaoyujingli{ position:relative; float:left; width:590px; height:auto; margin:147px 0 0 54px; background:#aca765; padding-bottom:30px;}
.jiaoyujingli-neirong{ width:420px; height:auto; margin:0 auto;}
.jiaoyujingli-neirong span{ float:left; width:420px; height:40px; font-size:20px; line-height:40px;}
.jiaoyujingli-neirong div{ float:left; width:240px; height:auto; font-size:16px; line-height:40px; margin-left:160px;}


#dingwei-jineng{ position:absolute; left:-35px; top:-170px; width:660px; height:170px; border-radius:35px 35px 35px 35px; background-color:#ba8fba; z-index:9;}
.dengwei-jineng-you{ float:right; width:200px; height:80px; line-height:80px; font-size:35px; text-align:center; font-weight:bold; color:#FFF;}
#dingwei-jineng ul{ float:right; width:355px; height:150px;}
#dingwei-jineng ul li{ padding-right:5px;}
.dingwei-jineng-ul-1{ float:right; width:350px; height:30px; border-right:3px solid #3498db; background:#d6efff; font-size:18px; line-height:30px; text-align:right; margin:5px 0 5px 0; color:#3498db;}
.dingwei-jineng-ul-2{ float:right; width:250px; height:30px; border-right:3px solid #3498db; background:#d6efff; font-size:18px; line-height:30px; text-align:right; margin:5px 0 5px 0; color:#3498db;}
.dingwei-jineng-ul-3{ float:right; width:200px; height:30px; border-right:3px solid #9ed728; background:#eaf6d0; font-size:18px; line-height:30px; text-align:right; margin:5px 0 5px 0; color:#9ed728;}
.dingwei-jineng-ul-4{ float:right; width:156px; height:30px; border-right:3px solid #ffbb06; background:#fff6dd; font-size:18px; line-height:30px; text-align:right; margin:5px 0 5px 0; color:#ffbb06;}
.jinengzhangwo{ position:relative; float:left; width:590px; height:auto; margin:145px 0 0 214px; background:#a585a5; padding-bottom:30px;}
.jinengzhangwo-neirong{ width:500px; height:auto; margin-left:20px; padding-left:40px;}
.jinengzhangwo-neirong li{ width: 500px; height:auto; line-height:40px; font-size:18px;}

#dingwei-yuanwang{ position:absolute; left:-35px; top:-170px; width:660px; height:170px; border-radius:35px 35px 35px 35px; background-color:#dc214c; z-index:9;}
.dingwei-yuanwang-neirong{ width:400px; height:115px; font-size:35px; line-height:115px; text-align:center; margin:0 auto; color:#FFF;}
.qiuzhiyuanwang{ position:relative; float:left; width:590px; height:auto; margin:147px 0 0 52px; background:#c33254; padding-bottom:30px;} 
.qiuzhiyuanwang p{ width:480px; height:auto; margin:20px auto 10px auto; font-size:20px; line-height:28px; text-indent:2em; }

#dingwei-zuopin{ position:absolute; left:-35px; top:-170px; width:660px; height:170px; border-radius:35px 35px 35px 35px; background-color:#e3efc1; z-index:9;}
.dingwei-zuopin-shang{ width:400px; height:70px; font-size:35px; line-height:70px; text-align:center; margin:0 auto; }
.dingwei-zuopin-xia{ width:400px; height:110px; margin:0 auto;}
.dingwei-zuopin-xia a{ float:left; width:92px; height:92px; margin:4px 20px 0 20px;}
.gerenzuopin{ position:relative; float:left; width:590px; height:15px; margin:151px 0 0 257px; background:#dee7c5;}










